<h1>Log in</h1>

<%= form_tag session_path do %>
    <div class="field">
      Username<br>
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      Password <br>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div class="actions">
      <%= submit_tag "Log in" %>
    </div>
<% end %>

<%= link_to('Log in with GitHub', '/auth/github', class:'btn btn-primary') %>
