<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<h3><%= pluralize(@user.ratings.count, 'rating', 'ratings') %><% if not @user.ratings.empty? %>, average <%= @user.avg_rating %><% end %></h3>

<% if not @user.ratings.empty? %>
    <table>
      <thead>
        <tr>
          <th>Beer</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody>
        <% @user.ratings.each do |rating| %>
          <tr>
            <td><%= link_to "#{rating.beer.name}", rating.beer %></td>
            <td><%= rating.score %></td>
            <td><%= link_to('Delete', rating, method: :delete, data: { confirm: 'Are you sure?' }) if current_user and current_user.id == @user.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<% if not @user.favorite_beer.nil? %>
    <h3>Favorite beer: <%= link_to "#{@user.favorite_beer.name}", @user.favorite_beer %></h3>
<% end %>

<h3><%= pluralize(@user.beer_clubs.count, 'club membership', 'club memberships') %></h3>

<ul>
    <% @user.beer_clubs.each do |beer_club| %>
    <li><%= link_to "#{beer_club}", beer_club %></li>
    <% end %>
</ul>

<% if current_user and current_user.id == @user.id %>
    <%= link_to 'Change password', edit_user_path(@user) %> |
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
