<h1>Beers</h1>

<% cache "beerlist-#{@order}", skip_digest: true do %>
    <h3><%= pluralize(@beers.count, 'beer', 'beers') %></h3>

    <% if not @beers.empty? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= link_to 'Name', beers_path(order:"#{@order == 'name_asc' ? 'name_desc' : 'name_asc'}") %></th>
              <th><%= link_to 'Style', beers_path(order:"#{@order == 'style_asc' ? 'style_desc' : 'style_asc'}") %></th>
              <th><%= link_to 'Brewery', beers_path(order:"#{@order == 'brewery_asc' ? 'brewery_desc' : 'brewery_asc'}") %></th>
            </tr>
          </thead>

          <tbody>
            <% @beers.each do |beer| %>
              <tr>
                <td><%= link_to "#{beer.name}", beer %></td>
                <td><%= link_to "#{beer.style.name}", beer.style %></td>
                <td><%= link_to "#{beer.brewery.name}", beer.brewery %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>

<br>

<% if ensure_that_admin %>
    <%= link_to('New beer', new_beer_path, class:'btn btn-primary') if current_user %>
<% end %>
