<p id="notice"><%= notice %></p>

<h1><%= @beer.name %></h1>

<p>
    <strong>Style:</strong>
    <%= @beer.style %>
</p>

<p>
    <strong>Brewery:</strong>
    <%= link_to "#{@beer.brewery.name}", @beer.brewery %>
</p>

<h3><%= pluralize(@beer.ratings.count, 'rating', 'ratings') %>, average <%= @beer.avg_rating %></h3>

<%= link_to('Edit', edit_beer_path(@beer)) if current_user %>
