<p id="notice"><%= notice %></p>

<h1><%= @beer.name %></h1>

<p>
    <strong>Style:</strong>
    <%= @beer.style %>
</p>

<p>
    <strong>Brewery:</strong>
    <%= link_to "#{@beer.brewery.name}", @beer.brewery %>
</p>

<h3><%= pluralize(@beer.ratings.count, 'rating', 'ratings') %><% if not @beer.ratings.empty? %>, average <%= @beer.avg_rating %><% end %></h3>

<% if current_user %>

  <h4>Give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    Score <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer) %>

<% end %>

<br>

<%= link_to('Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' }) if current_user %>
